.icon-48-steps {
      background-image: url(../images/l_steps.png);
      padding-left:60px!important;
}

.icon-48-step {
      background-image: url(../images/l_steps.png);
      padding-left:60px!important;
}

